body{
    margin: 0px;
}

#body-header{
    height: 65vh;
    opacity: 1.8;
    /* opacity=visiblicity  of web page*/
    background-image: url(Image/background\ image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

}